{{ define "main" }}	
    <section class="section__top mb-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form name="contact" method="POST" netlify>
                        <h4 class="text-center">Or reach us right here…</h4>
                        <div class="input-with-icon col-sm-12">
                            <i class="icon-MaleFemale"></i>
                            <input class="validate-required" type="text" name="name" placeholder="Your Name" required>
                        </div>
                        <div class="input-with-icon col-sm-6">
                            <i class="icon-Email"></i>
                            <input class="validate-required validate-email" type="email" name="email" placeholder="Email Address" required>
                        </div>
                        <div class="input-with-icon col-sm-6">
                            <i class="icon-Phone-2"></i>
                            <input type="tel" name="telephone" placeholder="Phone Number">
                        </div>
                        <div class="col-sm-12">
                            <textarea class="validate-required" name="message" placeholder="Your Message" rows="8" required></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn--primary vpe">
                                Submit Form
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        
    </section>
{{ end }}