<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>KoRiTek - Kominote Riral Teknoloji - Haiti Non-profit Organization</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/socicon.css" rel="stylesheet" type="text/css" media="all">
	<link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/theme-brightgreen.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
	<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>