{{ define "main"}}
    <section class="cover height-60 imagebg" data-overlay="5">
        <div class="background-image-holder">
            <!-- <img alt="Haiti Kids Playing with Koritek Tablets" src="img/haiti-kids-playing-with-fire-tv-tablet.jpg"> -->
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Board of Directors</h2>
                    <p>Our committed Board of Directors drives our mission to empower rural children through technology education and soccer training. With diverse expertise in education, technology, sports, and community development, they guide our initiatives and ensure a brighter future for the kids we serve.</p>
                </div>
            </div>
        </div>

    </section>

    <section class="bg--white section__top mb-4">
        <div class="container">
            <div class="row row-flex">
                {{ range where .Pages "Section" "directors" }}
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="member member-1">
                        {{ with .Params.photo }}
                            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                            {{ $resized := $imageResource.Fill "577x700" }}
                            
                            <img src="{{ $resized.RelPermalink }}" alt="Koritek Director" />
                            
                        {{ end }}
                        <h6>{{ .Params.position }}</h6>
                        <h5>{{ .Title }}</h5>
                        {{ .Content }}
                    </div>
                </div>
                {{ end }}
            </div> 
        </div>                  
    </section>
{{ end}}
