<section class="bg--secondary partners-1 space--sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">Partners</h3>
                <div class="slider" data-items="4" data-timing="3000">
                    <ul class="slides">
                        <li>
                            <a href="https://www.movielakay.com/" target="_blank"><img alt="img" src="img/movielakay.png"></a>                            
                        </li>
                        <li>
                            <img alt="img" src="img/ShashooParfums01.png">
                        </li>
                        <li>
                            <img alt="img" src="img/ASLBlack.png">
                        </li>
                        <li>
                            <a href="https://appshabit.com/" target="_blank"><img alt="img" src="img/appshabit.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
