<section class="bg--secondary partners-1 space--sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">Partners</h3>
                <div class="slider" data-items="4" data-timing="3000">
                    <ul class="slides">
                        <li>
                            <img alt="img" src="img/partner3.png">
                        </li>
                        <li>
                            <img alt="img" src="img/ShashooParfums.png">
                        </li>
                        <li>
                            <img alt="img" src="img/ASLBlack.png">
                        </li>
                        <li>
                            <img alt="img" src="img/partner7.png">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
