<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="elements--title">
                    <h4>Current Projects</h4>
                </div>
            </div>

            {{ range first 2 (where .Site.RegularPages "Section" "projects") }}            
                <div class="col-md-6 col-sm-6">
                    <a href="{{ .Permalink }}">
                        <div class="card card-4">
                            <div class="card__image">
                                {{ with .Params.project_image }}
                                    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                                    {{ $resized := $imageResource.Fill "800x533" }}
                                    <figure>
                                        <img src="{{ $resized.RelPermalink }}" alt="Koritek Project" />
                                    </figure>
                                {{ end }}									
                            </div>
                            <div class="card__body boxed boxed--sm bg--white">
                                <h6>{{ .Title }}</h6>
                                <div class="card__title">
                                    <h5>{{ .Params.summary }}</h5>
                                </div>
                                <hr>
                                <div class="card__lower">
                                    <span class="h6">learn more</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}
            
        </div>
    </div>
</section>
                            