/* Custom styles by Kenold Beauplan https://twitter.com/kenold */

section {
    padding-top: 1.5em;
    padding-bottom: 1.125em;
}
iframe {
    background: none;
}

.menu > li {
    font-size: 14px;
}
.menu > li a {
    font-weight: 700;
}

.nav-bar.nav--absolute:not(.nav--fixed) .nav-module.right:not(.logo-module):not(.menu-module):not( :nth-last-child(2)) {
    border: 0;
}

.nav-bar .nav-module.right:not(.logo-module):not(.menu-module):not( :nth-last-child(2)) {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 1.625em;
}

.nav-module button {
    font-size: 0.825em !important;
    height: 40px;
}

.btn {
    font-weight: bold;
}
.partners-1 .slider img {
    max-height: 3rem;
    opacity: 1;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
}
[class*="col-"] {
    margin-bottom: 10px;
}
/* DONORBOX */
#donorbox.boxed {
    padding: 1.4375em 2.4375em 0;
}

.cta-5 h4 {
    margin-bottom: 1em;
    white-space: normal!important;
}
/* blog */
.blog-post .blog-post__title {
    padding: 5.75em 0 3.75em 0;
}

.section__top {
    padding: 1rem 0;
}

.elements--title {
    margin-bottom: 1.125rem;
}

.card-4 .card__body h6:first-child  {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .8em;
}

.mb-4 {
    margin-bottom: 4rem;
}

.k-mb-4 {
    margin-bottom: 4rem;
}
.k-mt-4 {
    margin-top: 4rem;
}
h5.event-title {
    margin-bottom: .5em!important;
}
.ended {
    color: red!important;
}
@media (min-width: 576px) {
    .cta-5 h4 {
        font-size: 1.4375em;
    }
}

@media (min-width: 768px) {
    .section__top {
        padding: 5.75em 0 0;
    }
}
