/* Custom styles by Kenold Beauplan https://twitter.com/kenold */

section {
    padding-top: 1.5em;
    padding-bottom: 1.125em;
}
iframe {
    background: none;
}

.menu > li {
    font-size: 14px;
}
.menu > li a {
    font-weight: 700;
}

/* DONORBOX */
#donorbox.boxed {
    padding: 1.4375em 2.4375em 0;
}

.cta-5 h4 {
    margin-bottom: 1em;
    white-space: normal!important;
}
/* blog */
.blog-post .blog-post__title {
    padding: 5.75em 0 3.75em 0;
}

.section__top {
    padding: 1.5rem 0;
}

.elements--title {
    margin-bottom: 1.125rem;
}

.card-4 .card__body h6:first-child  {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .8em;
}

.mb-4 {
    margin-bottom: 4rem;
}


@media (min-width: 576px) {
    .cta-5 h4 {
        font-size: 1.4375em;
    }
}

@media (min-width: 768px) {
    .section__top {
        padding: 5.75em 0 0;
    }
}
