<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>KoRiTek - Kominote Riral Teknolojo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/socicon.css" rel="stylesheet" type="text/css" media="all">
	<link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/theme-brightgreen.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
	<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">


	<div class="nav-container">
		<nav>
			<div class="nav-bar bg--dark nav--absolute" data-fixed-at="700">
				<div class="nav-module logo-module left">
					<a href="index.html">
						<img alt="Koritek Logo" class="logo logo-dark" src="img/koritek-logo-green.png">
						<img alt="Koritek Logo" class="logo logo-light" src="img/koritek-logo-light.png">
					</a>
				</div>
				<div class="nav-module menu-module left">
					<ul class="menu">
						<li class="active">
							<a href="#">about</a>

						</li>
						<li>
							<a href="#">projects</a>

						</li>
						<li class="vpf">
							<a href="#">gallery </a>

						</li>
						<li class="vpf">
							<a href="#">get involved</a>

						</li>
						<li class="vpf">
							<a href="https://donorbox.org/koritek" class="custom-dbox-popup">donate</a>

						</li>
					</ul>
				</div>
			</div>
			<div class="nav-mobile-toggle visible-sm visible-xs">
				<i class="icon-Align-JustifyAll icon icon--sm"></i>
			</div>
		</nav>
	</div>

	<div class="main-container">

		<a id="hero-cover" class="in-page-link"></a>

		<section class="cover height-70 imagebg" data-overlay="5">
			<div class="background-image-holder">
				<img alt="Haiti Kids Playing with Koritek Tablets" src="img/haiti-kids-playing-with-fire-tv-tablet.jpg">
			</div>
			<div class="container pos-vertical-center">
				<div class="row">
					<div class="col-sm-6">
						<h1>Give the life of average Haitian youth a meaning</h1>
					</div>
				</div>
			</div>

		</section>
		<a id="cta-donation" class="in-page-link"></a>

		<section class="cta cta-8 section--overlap">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-5 text-center">
						<div id="donorbox" class="boxed bg--white box-shadow">
							<h4>Stand with us</h4>
							<p>Donate and join the campaign</p>

							<script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
							<iframe src="https://donorbox.org/embed/koritek" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important"
							    seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
						</div>
					</div>
					<div class="col-md-6 col-md-push-1 col-sm-7 col-sm-push-0">
						<h3>We empower students to reach their academic &amp; social potential.</h3>
						<p>
							We want Haitian students to take advantage of the growing campaign in the use of Modern Technology in doing business to carve
							a niche for themselves and positively affecting their environment by training. This is as we also hope that the participants
							will also train and even employ others and as such cutting down the rate of unemployment in Haiti.
						</p>
                        <p>Your donation provides access to technology and Internet to Haitian students who might otherwise go without.</p>
					</div>
				</div>

			</div>

		</section>
		<a id="projects" class="in-page-link"></a>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="elements--title">
							<h4>Our Current Projects</h4>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<a href="#">
							<div class="card card-4">
								<div class="card__image">
									<img alt="Pic" src="img/koritek-charity-tablet-project.jpg">
								</div>
								<div class="card__body boxed boxed--sm bg--white">
									<h6>Amazon Fire 7 Tablet</h6>
									<div class="card__title">
										<h5>Dolor sit amet lorem ipsum consectetur adipisicing elit</h5>
									</div>
									<hr>
									<div class="card__lower">

										<span class="h6">learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-6">
						<a href="#">
							<div class="card card-4">
								<div class="card__image">
									<img alt="Pic" src="img/koritek-charity-volunteers-2.jpg">
								</div>
								<div class="card__body boxed boxed--sm bg--white">
									<h6>School Supplies</h6>
									<div class="card__title">
										<h5>Ipsum lorem dolor sit amet consectetur adipisicing elit</h5>
									</div>
									<hr>
									<div class="card__lower">

										<span class="h6">LEARN MORE</span>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-6">
						<a href="#">
							<div class="card card-4">
								<div class="card__image">
									<img alt="Pic" src="img/koritek-charity-volunteers-3.jpg">
								</div>
								<div class="card__body boxed boxed--sm bg--white">
									<h6>Mobile Classroom</h6>
									<div class="card__title">
										<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
									</div>
									<hr>
									<div class="card__lower">

										<span class="h6">LEARN MORE</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>

			</div>

		</section>
		<a id="recent-news" class="in-page-link"></a>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="elements--title">
							<h4>Recent News</h4>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="card card--horizontal card-2">
							<div class="card__image col-sm-5">
								<div class="background-image-holder">
									<img alt="Pic" src="img/news-koritek-haiti-trip-tablet.jpg">
								</div>
							</div>
							<div class="card__body col-sm-7 boxed bg--white">
								<div class="card__title">
									<h4>Koritek Visits Saint-Marc, Haiti</h4>
								</div>
								<span>
									<em>A brief description of the card.</em>
								</span>
								<p>
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="card card--horizontal card-2">
							<div class="card__image col-sm-5">
								<div class="background-image-holder">
									<img alt="Pic" src="img/news-koritek-haiti-trip-tablet-2.jpg">
								</div>
							</div>
							<div class="card__body col-sm-7 boxed bg--white">
								<div class="card__title">
									<h4>Koritek Donates School Supplies</h4>
								</div>
								<span>
									<em>A brief description of the card.</em>
								</span>
								<p>
									Sint excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>
		<a id="cta-donate" class="in-page-link"></a>

		<section class="bg--primary cta cta-6">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
						<h3>Our Mission</h3>
						<p class="lead">
							To give every student and everyone living in rural areas of Haiti the opportunity to learn computer operations and take complete
							advantage of the technology.
						</p>
						
                        <a class="dbox-donation-button" href="https://donorbox.org/koritek" style="background:#000 url(https://d1iczxrky3cnb2.cloudfront.net/white_logo.png) no-repeat 37px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 15px 38px 15px 75px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; box-shadow: 0 1px 0 0 #408040; text-shadow: 0 1px rgba(0, 0, 0, 0.3);" >Donate</a>
					</div>
				</div>

			</div>

		</section>
		<a id="volunteers" class="in-page-link"></a>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="elements--title">
							<h4>How You Can Help</h4>
						</div>
					</div>
					<div class="col-sm-12">
						<a href="#">
							<div class="card card--horizontal card-6">
								<div class="card__image col-sm-7 col-md-8">
									<div class="background-image-holder">
										<img alt="Pic" src="img/koritek-charity-volunteers.jpg">
									</div>
								</div>
								<div class="card__body col-sm-5 col-md-4 boxed boxed--lg bg--white">
									<h6>koritek volunteer program</h6>
									<div class="card__title">
										<h4>Koritek is about helping others</h4>
									</div>
									<p>
										Learn how you can join us as a volunteer and make a difference in your community.</p>
									<hr>
									<div class="card__lower">

										<span class="h6">join us</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>

			</div>

		</section>
		<a id="backers-heading" class="in-page-link"></a>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">

						<h3>Partners</h3>

					</div>
				</div>

			</div>

		</section>
		<a id="backers" class="in-page-link"></a>

		<section class="bg--secondary partners-1 space--sm">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="slider" data-items="4" data-timing="3000">
							<ul class="slides">



								<li>
									<img alt="img" src="img/partner3.png">
								</li>
								<li>
									<img alt="img" src="img/partner5.png">
								</li>
								<li>
									<img alt="img" src="img/partner6.png">
								</li>
								<li>
									<img alt="img" src="img/partner7.png">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg--primary space--sm cta cta-5">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h4>Want to make a difference in your community?&nbsp;
							<br>
						</h4>
						<a class="dbox-donation-button" href="https://donorbox.org/koritek" style="background:#000 url(https://d1iczxrky3cnb2.cloudfront.net/white_logo.png) no-repeat 37px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 15px 38px 15px 75px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; box-shadow: 0 1px 0 0 #408040; text-shadow: 0 1px rgba(0, 0, 0, 0.3);" >Donate</a>
					</div>
				</div>

			</div>

		</section>


		<footer class="bg--dark footer-1 text-center-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<a href="#">
							<img alt="Pillar" class="logo" src="img/koritek-logo-light.png">
						</a>
						<p>KoRiTek is a 501(c)(3) charitable organization.</p>
					</div>
					<div class="col-md-5 col-sm-8">
						<h6>Navigate</h6>
						<ul class="footer__navigation">
							<li>
								<a href="#">
									<span>home</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span>about</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span>contact</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span>news</span>
								</a>
							</li>
						</ul>
						<ul class="footer__navigation">
							<li>
								<a href="#">
									<span> gallery</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span>get involved</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span>projects</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-12">
						<h6>Subscribe</h6>
						<p>Join our mailing list to get monthly updates</p>
						<form action="http://mrareco.createsend.com/t/d/s/kieth/?callback=??callback=??callback=??callback=??callback=??callback=??callback=?"
						    class="form--merge form--no-labels form--active" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email."
						    id="subForm" method="post" name="subForm" novalidate="novalidate">
							<br>
							<input class="col-md-8 col-sm-6 validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" placeholder="Email Address">
							<button type="submit" class="btn">Go</button>
						</form>
					</div>
				</div>
				<div class="row footer__lower text-center-xs">
					<div class="col-sm-12">
						<hr>
					</div>
					<div class="col-sm-6">
						<span class="type--fine-print">© Copyright
							<span class="update-year">2018</span> Koritek- Kominote Riral Teknoloji - All Rights Reserved
						</span>
					</div>
					<div class="col-sm-6 text-right text-center-xs">
						<ul class="social-list">
							<li>
								<a href="#">
									<i class="socicon-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="socicon-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="socicon-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="socicon-youtube"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/scrollreveal.min.js"></script>
	<script src="js/parallax.js"></script>
	<script src="js/scripts.js"></script>

    <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
    <script> window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' } </script>
</body>

</html>