{{ define "main" }}	
	{{ partial "header/home-hero.html" . }}

	<section class="cta cta-8 section--overlap hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5 text-center">
					<div id="donorbox" class="boxed bg--white box-shadow">
						<h4>Stand with us</h4>
						<p>Donate and join the campaign</p>
							{{ partial "widgets/donorbox-form.html" . }}
					</div>
				</div>
				<div class="col-md-6 col-md-push-1 col-sm-7 col-sm-push-0">
					<h3>{{ .Site.Params.HomeIntroHeader | safeHTML }}</h3>
					{{ .Site.Params.HomeIntroSummary | safeHTML }}						
				</div>
			</div>

		</div>
	</section>

	<section class="bg--primary cta cta-6 visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
					<h3>{{ .Site.Params.HomeIntroHeader | safeHTML }}</h3>
					<p class="lead">{{ .Site.Params.donateMobileText | safeHTML }}</p>
					<a class="dbox-donation-button" href="https://donorbox.org/koritek" style="background:#000 url(https://d1iczxrky3cnb2.cloudfront.net/white_logo.png) no-repeat 37px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 15px 38px 15px 75px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; box-shadow: 0 1px 0 0 #408040; text-shadow: 0 1px rgba(0, 0, 0, 0.3);" >Donate</a>
				</div>
			</div>
			
		</div>
		
	</section>

	<!-- recent projects -->
	{{ partial "widgets/projects.html" . }}

	<!-- recent news -->
	{{ partial "widgets/recent-news.html" . }}

	<section class="bg--primary cta cta-6">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
					<h3>Our Mission</h3>
					<p class="lead">{{ .Site.Params.mission }}</p>
					
					<a class="dbox-donation-button" href="https://donorbox.org/koritek" style="background:#000 url(https://d1iczxrky3cnb2.cloudfront.net/white_logo.png) no-repeat 37px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 15px 38px 15px 75px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; box-shadow: 0 1px 0 0 #408040; text-shadow: 0 1px rgba(0, 0, 0, 0.3);" >Donate</a>
				</div>
			</div>

		</div>

	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="elements--title">
						<h4>How You Can Help</h4>
					</div>
				</div>
				<div class="col-sm-12">
					<a href="#">
						<div class="card card--horizontal card-6">
							<div class="card__image col-sm-7 col-md-8">
								<div class="background-image-holder">
									<img alt="Pic" src="img/koritek-charity-volunteers.jpg">
								</div>
							</div>
							<div class="card__body col-sm-5 col-md-4 boxed boxed--lg bg--white">
								<h6>koritek volunteer program</h6>
								<div class="card__title">
									<h4>{{ .Site.Params.volunteerHeader }}</h4>
								</div>
								<p>{{ .Site.Params.volunteerSummary }}</p>
								<hr>
								<div class="card__lower">

									<span class="h6">{{ .Site.Params.volunteerButton }}</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

		</div>

	</section>

	{{ partial "widgets/partners.html" . }}	

{{ end }}