<nav>
    <div class="nav-bar bg--dark nav--absolute" data-fixed-at="700">
        <div class="nav-module logo-module left">
            <a href="/">
                <img alt="Koritek Logo" class="logo logo-dark" src="/img/koritek-logo-green.png">
                <img alt="Koritek Logo" class="logo logo-light" src="/img/koritek-logo-light.png">
            </a>
        </div>
        <div class="nav-module menu-module left">
            <ul class="menu">
                {{ range .Site.Menus.main }}
                <li class="vpf"><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}             
                <li class="vpf">
                    <a href="https://donorbox.org/koritek" class="custom-dbox-popup">donate</a>

                </li>
            </ul>
        </div>
    </div>
    <div class="nav-mobile-toggle visible-sm visible-xs">
        <i class="icon-Align-JustifyAll icon icon--sm"></i>
    </div>
</nav>