<nav>
    <div class="nav-bar bg--dark nav--absolute" data-fixed-at="700">
        <div class="nav-module logo-module left">
            <a href="/">
                <img alt="Koritek Logo" class="logo logo-dark" src="/img/koritek-logo-green.png">
                <img alt="Koritek Logo" class="logo logo-light" src="/img/koritek-logo-light.png">
            </a>
        </div>
        <div class="nav-module menu-module left">
            <ul class="menu">
                <li class="active">
                    <a href="/about">about</a>

                </li>
                <li>
                    <a href="/projects">projects</a>

                </li>
                <li class="vpf">
                    <a href="/photos">photos </a>

                </li>
                <li class="vpf">
                    <a href="/volunteer">get involved</a>

                </li>
                <li class="vpf">
                    <a href="https://donorbox.org/koritek" class="custom-dbox-popup">donate</a>

                </li>
            </ul>
        </div>
    </div>
    <div class="nav-mobile-toggle visible-sm visible-xs">
        <i class="icon-Align-JustifyAll icon icon--sm"></i>
    </div>
</nav>