<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <a href="#">
                <img alt="Koritek" class="logo" src="/img/koritek-logo-light.png">
            </a>
            <p>{{ .Site.Params.footerAbout }}</p>
        </div>
        <div class="col-md-5 col-sm-8">
            <h6>Navigate</h6>
            <ul class="footer__navigation">
                <li>
                    <a href="/">
                        <span>home</span>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <span>about</span>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <span>contact</span>
                    </a>
                </li>                
            </ul>
            <ul class="footer__navigation">
                <li>
                    <a href="/volunteer">
                        <span>get involved</span>
                    </a>
                </li>
                <li>
                    <a href="/projects">
                        <span>projects</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-12">
            <h6>Subscribe</h6>
            <p>Join our mailing list to get monthly updates</p>
            <form action="https://mrareco.createsend.com/t/d/s/kieth/?callback=??callback=??callback=??callback=??callback=??callback=??callback=?"
                class="form--merge form--no-labels form--active" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email."
                id="subForm" method="post" name="subForm" novalidate="novalidate">
                <br>
                <input class="col-md-8 col-sm-6 validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" placeholder="Email Address">
                <button type="submit" class="btn">Go</button>
            </form>
        </div>
    </div>
    <div class="row footer__lower text-center-xs">
        <div class="col-sm-12">
            <hr>
        </div>
        <div class="col-sm-6">
            <span class="type--fine-print">© Copyright                 
                <span class="update-year">&copy; {{ now.Format "2006" }}</span>  {{ .Site.Title }} - All Rights Reserved.
            </span>
        </div>
        <div class="col-sm-6 text-right text-center-xs">
            <ul class="social-list">
                <li>
                    <a href="https://facebook.com/koritekhaiti">
                        <i class="socicon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/koritekhaiti">
                        <i class="socicon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/koritekhaiti">
                        <i class="socicon-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://youtube.com/koritekhaiti">
                        <i class="socicon-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>