{{ define "main"}}
    {{ range where .Pages "Section" "projects" }}
        <section class="section__top">
            <div class="container">
                <div class="row">
                    <div class="masonry masonry-blog">
                        <div class="masonry__container masonry--animate masonry--active">
                            <div class="col-sm-12 masonry__item">
                                <a href="{{ .Permalink }}">
                                    <div class="card card--horizontal card-6">
                                        <div class="card__image col-sm-7 col-md-8">                                            

                                            {{ with .Params.project_image }}
                                                {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                                                {{ $resized := $imageResource.Fill "800x533" }}
                                                <figure>
                                                    <img src="{{ $resized.RelPermalink }}" alt="Koritek Project" />
                                                </figure>
                                            {{ end }}
                                            
                                        </div>
                                        <div class="card__body col-sm-5 col-md-4 boxed boxed--lg bg--white">                                            
                                            <div class="card__title">
                                                <h4>{{ .Title }}</h4>
                                            </div>
                                            <p>{{ .Params.summary}}</p>                                            
                                        </div>
                                    </div>
                                </a>
                            </div>                                                
                        </div>                        
                    </div>                    
                </div>                
            </div> 
            <hr>         		                
		</section>        
    {{ end }}
    
    <!-- div class="pagination-container">                    
        <ul class="pagination">
            <li>
                <a href="#">
                    <span>←</span>
                </a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">
                    <span>→</span>
                </a>
            </li>
        </ul>
    </div -->
{{ end}}